/* v/f/index */
//.flights_index {
//  margin: 10px;
//}
//
//.indextable {
//  width: 100%;
//  margin: 40px 3%;
//  border-collapse: collapse;
//  table-layout: fixed;
//  position: relative;
//}

input[type="search"] {
  font: 12px/24px sans-serif;
  box-sizing: border-box;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.indextable input[include_blank="true"] {
  font: 15px sans-serif;
  box-sizing: border-box;
  width: 50px;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.indextable tr {
  border-bottom: #d3d3d3 solid 1px;
  height: 50px;
}

.th1 {
  width: 16.4%;
  height: 50px;
  a:link { color: #333333; }
  a:visited { color: #333333; } 
  background-color: transparent;
}

.th2 {
  width: 6%;
}

.heart {
  text-align: center;
}

ul {
  list-style: none;
}

input[type = "search"]{
  width :50px;
}

input[type = "date"]{
  width :50px;
}

.button {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 10px;
  text-decoration: none;
  color: #67c5ff;
  a:link { color: #00266b; }
  a:visited { color: #00266b; } 
  border: solid 2px #00266b;
  border-radius: 3px;
  transition: .4s;
}

.button:hover{
  background: #FFFFFF;
  color: #FFFFFF;
}

/* v/f/show 上 */
.boarding-pass {
  width: 100%;
  margin: 10px;
  display:inline-block;
  padding: 20px;
  border: 1px solid #3b5998; 
  border-radius:10px; 
  word-break:break-all;
}

.passenger_name {
  a:link { color: #333333; }
  a:visited { color: #333333; } 
}

.show .airline {
  font-weight: 700;
  font-size: 100%;
  text-align: right;
  width: 100%;
}

.boarding-pass2 {
  width: 100%;
}

.boarding-pass2 td {
  height: 40px
}

.passenger_name {
  font-weight: 700;
  font-size: 100%;
  border-bottom: inset 3px #000000;
}

.show .flight_detail {
  font-size: 100%;
  font-weight: 700;
  border-bottom: inset 3px #000000;
  margin: 10px 0;
  padding: 15px;
}

.title {
  font-size: 0.8em;
}

/* v/f/show 下 */
.show_flight {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.show_flight2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.show_flight tr {
  border-bottom: solid 1px #eee;
}

.show_flight td {
  text-align: left;
  width: 25%;
  margin: 15px 0;
  padding: 15px;
  font-size: 0.9em;
}

.show_flight2 td {
  text-align: left;
  width: 25%;
  margin: 15px 0;
  padding: 15px;
  font-size: 12px;
}

.show_flight_photo {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 10px 0;
}

.show_flight_photo td {
  text-align: left;
  width: 25%;
  margin: 30px;
  padding: 15px;
}

.review {
  border-bottom: solid 1px #eee;
}

.edit {
  margin: 10px 0;
}

.comment {
  margin: 10px
}

/* v/f/_f */
.boarding-pass {
  width: 95%;
  margin: 15px 10px;
}

.new_seatclass {
  border-bottom: 1px solid #00266b;
}

.new input[type = "text"], input[type = "date"] {
  width: 100px;
  height: 30px;
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.show_flight_td2 input[type = "text"] {
  width: 30px;
  height: 30px;
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

select[id = "flight_actual_departure_time_1i"],
select[id = "flight_actual_departure_time_2i"],
select[id = "flight_actual_departure_time_3i"],
select[id = "flight_actual_departure_time_4i"],
select[id = "flight_actual_departure_time_5i"],
select[id = "flight_actual_arrival_time_1i"],
select[id = "flight_actual_arrival_time_2i"],
select[id = "flight_actual_arrival_time_3i"],
select[id = "flight_actual_arrival_time_4i"],
select[id = "flight_actual_arrival_time_5i"]{
  width: 40px;
  height: 30px;
  font: 0.9em sans-serif;
  box-sizing: border-box;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.review input[type = "text"]{
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin: 8px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.new_button {
  margin: 10px;
}

.comment input[type = "text"]{
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin: 8px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}
