.circle-icon img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	margin: 30px;
}


//index
.users_index {
  margin: 10px;
}

.users_index input[type = "search"] {
  width: 100px;
}

.show_user {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


// show
.mypage_editlink a {
  color: #000;
}

.users_show {
  width: 93%;
  margin: 40px 3%;
  border-collapse: collapse;
  position: relative;
}

.user_show_table {
  width: 100%;
  table-layout: fixed;
}

.user_show_table tr {
  border-bottom: solid 1px #eee;
}

.user_show_table td {
  text-align: left;
  margin: 30px;
  padding: 15px;
}

h1 {
  font-family: 'Hiragino Maru Gothic ProN';
}

h2 {
  font-family: 'Hiragino Maru Gothic ProN';
}

h3 {
  font-family: 'Hiragino Maru Gothic ProN';
}

li{
  display: inline;
  list-style-type: none;
}

.indextable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 40px 0;
}

input[type="search"] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  margin: 8px 0;
  transition: 0.3s;
  border: 1px solid #00266b;
  border-radius: 4px;
  outline: none;
}

.profile {
  a:link { color: #333333; }
  a:visited { color: #333333; } 
}